spring:
  h2:
    console:
      enabled: true
      path: /h2

  datasource:
    url: jdbc:h2:mem:test

  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true

  sql:
    init:
      data-locations: classpath*:db/h2/data.sql

logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG

jwt:
  access-token-expiration-minutes: 150
  refresh-token-expiration-minutes: 420
  key:
    secret: ${JWT_SECRET_KEY}

mail:
  address:
    admin: ${ADMIN_EMAIL}

api:
  ai:
    key: ${OPEN_AI_KEY}